.card {
  width: 540px;
}

.card__title {
  margin: 0 0 32px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}

.card__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.card__list-item {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.card__list-divider {
  border-bottom: 1px solid #838383;
  flex-grow: 1;
}
