.form {
  max-width: 385px;
  font-family: "Inter", "Arial", sans-serif;
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.form__label {
  display: block;
  margin-bottom: 32px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__input {
  display: block;
  margin-top: 8px;
  width: 100%;
  border-radius: 4px;
  padding: 15px 20px;
  box-sizing: border-box;
  border: 1px solid #838383;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

input::placeholder {
  color: #838383;
}

.form__button {
  border-radius: 4px;
  border: none;
  background-color: #1878dc;
  color: #fff;
  width: 100%;
  padding: 20px 0;
  margin-bottom: 32px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__button:hover {
  background-color: #3f96f3;
  transition: background-color 0.3s;
}

.form__label_type_checkbox {
  display: flex;
  flex-direction: row;
  gap: 12px;
  width: fit-content;
  margin: 0 auto;
}

.form__checkbox {
  border-radius: 2px;
  width: 20px;
  height: 20px;
}
