.recipes {
  background-color: #0a2750;
  background-image: url(/images/background_recipes.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 100px 80px 215px;
  color: white;
  font-family: "Inter", "Arial", sans-serif;
}

.recipes__title {
  margin-bottom: 24px;
  max-width: 580px;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  margin-bottom: 80px;
  max-width: 438px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  gap: 40px;
  list-style-type: none;
}

.recipes__video {
  gap: 24px;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  border: 0;
}

.recipes__video-captions {
  display: flex;
  justify-content: space-between;
}

.recipes__video-caption {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
